<h1>THE DATA</h1>
<% @data.each do |key| %>
	<ul>
		<li><%= "Station: #{key['name']}" %></li>
			<ul>
				<li><%= "Latitude: #{key['lat']}" %></li>
				<li><%= "Longitude: #{key['lng']}" %></li>
			</ul>
	</ul>
<% end %>
